
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-template {
  margin: 8px;
  padding: 16px;
  width: 80%;
  background-image: linear-gradient(#666, #eee);
}

.customers-actions {
  margin-top: 16px;
  padding: 8px;
  background-color: rgb(var(--color-mid-gray));
}

.customers-actions button {
  margin: 8px;
  min-width: 100px;
  height: 32px;
  background-color: rgb(var(--color-white));
}

.customers-list-item {
  width: 100%;
  display: flex;
}

.customers-list-item .field {
  margin: 1px;
  padding: 8px;
  width: 160px;
  background-color: #eeeeee;
  display: flex;
}

.customers-list-item .field:first-child {
  width: calc(100% - 320px);
}